@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

/* GLOBAL FONT CHANGE */
html, body, [class*="css"] {
    font-family: 'Montserrat', sans-serif;
}


/* Sidebar color change */
[data-testid="stSidebar"] {
    background-color: #003463 !important;
    color: #FFFFFF !important;
}
